{% include "header.html" %}

{% load static %}
<div class="about-low-area about-bg about-padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-5">
                <!-- Section Title -->
                <div class="section-tittle section-tittle-l mb-70">
                    <h2>About Legal Linker</h2>
                </div>
                <div class="about-caption mb-100">
                    <p>Legal Linker is a platform designed to connect individuals with the right legal professionals based on their needs. Users can search for advocates by location and case type, view profiles, and communicate directly with them. Legal Linker simplifies finding legal help, ensuring users have access to verified advocates and reliable information, making the legal process more accessible and transparent.






                    </p>
                    <!-- Counter Up -->
                    <div class="count-clients">
                        <div class="single-counter text-center">
                            <span class="counter">250</span>
                            <p>Happy Clients</p>
                        </div>
                        <div class="single-counter text-center">
                            <span class="counter">920</span>
                            <p>Winning Cases</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-7">
                <!-- About Images -->
                <div class="about-img">
                    <div class="about-font-img f-left">
                        <img src="{% static 'assets/img/about/about-low-front.jpg' %}" alt="">
                    </div>
                    <div class="about-back-img f-right d-none d-md-block">
                        <img src="{% static 'assets/img/about/about-low-back.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <!-- All JS Custom Plugins Link Here -->
    <script src="{% static 'assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <!-- jQuery, Popper, Bootstrap -->
    <script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <!-- jQuery Mobile Menu -->
    <script src="{% static 'assets/js/jquery.slicknav.min.js' %}"></script>
    
    <!-- jQuery Slick, Owl-Carousel Plugins -->
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/slick.min.js' %}"></script>
    
    <!-- One Page, Animated-Headline -->
    <script src="{% static 'assets/js/wow.min.js' %}"></script>
    <script src="{% static 'assets/js/animated.headline.js' %}"></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.js' %}"></script>
    
    <!-- Scrollup, nice-select, sticky -->
    <script src="{% static 'assets/js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.sticky.js' %}"></script>
    
    <!-- Counter, waypoint -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
    
    <!-- Contact Form and AjaxChimp -->
    <script src="{% static 'assets/js/contact.js' %}"></script>
    <script src="{% static 'assets/js/jquery.form.js' %}"></script>
    <script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'assets/js/mail-script.js' %}"></script>
    <script src="{% static 'assets/js/jquery.ajaxchimp.min.js' %}"></script>
    
    <!-- jQuery Plugins, main jQuery -->
    <script src="{% static 'assets/js/plugins.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>

<!-- About Law End-->

