{% include "header.html" %}
{% load static %}
<!-- Legal Practice Area start -->
<div class="legal-practice-area section-padding30">
    <div class="container">
        <!-- Section Title -->
        <div class="row">
            <div class="col-xl-12">
                <div class="section-title text-center mb-70">
                    <h2>Legal Practice Area.</h2>
                </div>
            </div>
        </div>
        <!-- Single Items -->
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-practice mb-30">
                    <div class="practice-img">
                        <img src="{% static 'assets/img/legal/legal_1.png' %}" alt="Vehicle Accident">
                        <!-- Practice Icon -->
                        <div class="practice-icon">
                            <i class="flaticon-care"></i>
                        </div>
                    </div>
                    <div class="practice-caption">
                        <h4><a href="#">Vehicle Accident</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-practice mb-30">
                    <div class="practice-img">
                        <img src="{% static 'assets/img/legal/legal_2.png' %}" alt="Health Law">
                        <!-- Practice Icon -->
                        <div class="practice-icon">
                            <i class="flaticon-care"></i>
                        </div>
                    </div>
                    <div class="practice-caption">
                        <h4><a href="#">Health Law</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-practice mb-30">
                    <div class="practice-img">
                        <img src="{% static 'assets/img/legal/legal_3.png' %}" alt="Insurance Law">
                        <!-- Practice Icon -->
                        <div class="practice-icon">
                            <i class="flaticon-care"></i>
                        </div>
                    </div>
                    <div class="practice-caption">
                        <h4><a href="#">Insurance Law</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-practice mb-30">
                    <div class="practice-img">
                        <img src="{% static 'assets/img/legal/legal_3.png' %}" alt="Insurance Law">
                        <!-- Practice Icon -->
                        <div class="practice-icon">
                            <i class="flaticon-care"></i>
                        </div>
                    </div>
                    <div class="practice-caption">
                        <h4><a href="#">Insurance Law</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-practice mb-30">
                    <div class="practice-img">
                        <img src="{% static 'assets/img/legal/legal_1.png' %}" alt="Vehicle Accident">
                        <!-- Practice Icon -->
                        <div class="practice-icon">
                            <i class="flaticon-care"></i>
                        </div>
                    </div>
                    <div class="practice-caption">
                        <h4><a href="#">Vehicle Accident</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single-practice mb-30">
                    <div class="practice-img">
                        <img src="{% static 'assets/img/legal/legal_2.png' %}" alt="Health Law">
                        <!-- Practice Icon -->
                        <div class="practice-icon">
                            <i class="flaticon-care"></i>
                        </div>
                    </div>
                    <div class="practice-caption">
                        <h4><a href="#">Health Law</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Legal Practice Area End -->

    <!-- All JS Custom Plugins Link Here -->
    <script src="{% static 'assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <!-- jQuery, Popper, Bootstrap -->
    <script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <!-- jQuery Mobile Menu -->
    <script src="{% static 'assets/js/jquery.slicknav.min.js' %}"></script>
    
    <!-- jQuery Slick, Owl-Carousel Plugins -->
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/slick.min.js' %}"></script>
    
    <!-- One Page, Animated-Headline -->
    <script src="{% static 'assets/js/wow.min.js' %}"></script>
    <script src="{% static 'assets/js/animated.headline.js' %}"></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.js' %}"></script>
    
    <!-- Scrollup, nice-select, sticky -->
    <script src="{% static 'assets/js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.sticky.js' %}"></script>
    
    <!-- Counter, waypoint -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
    
    <!-- Contact Form and AjaxChimp -->
    <script src="{% static 'assets/js/contact.js' %}"></script>
    <script src="{% static 'assets/js/jquery.form.js' %}"></script>
    <script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'assets/js/mail-script.js' %}"></script>
    <script src="{% static 'assets/js/jquery.ajaxchimp.min.js' %}"></script>
    
    <!-- jQuery Plugins, main jQuery -->
    <script src="{% static 'assets/js/plugins.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
